<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Fragment Test1</h1>

    <h1>LayOut 1 - 1</h1>
    <div th:replace="~{/fragment/fragment1 :: part1}"></div>

    <h1>LayOut 1 - 2</h1>
    <div th:insert="~{/fragment/fragment1 :: part2}"></div>

    <h1>LayOut 1 - 2</h1>
    <th:block th:replace="~{/fragment/fragment1 :: part3}"></th:block>

    <hr>
    <div style="border: 1px solid black;">
        <h1>Fragment Test2</h1>
        <th:block th:replace="~{/fragment/fragment2}"></th:block>
    </div>


</body>

</html>