<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="dto:${list}">
            <a th:href="@{/sample/exView(sno=${dto.sno})}">[[${dto}]]</a>
        </li>
    </ul>
    <hr>
    <ul>
        <li th:each="dto:${list}">
            [[${#numbers.formatInteger(dto.sno,5)}]]
        </li>
    </ul>

</body>
<script th:inline="javascript">
    var msg = [[${result}]];
    var dto = [[${list}]]
</script>
</html>